html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: dotted 3px #606c38;
  outline-offset: 10px;
}

body {
  font-family: "Jura", sans-serif;
  font-weight: 400;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  padding: 5%;
}
@media screen and (min-width: 40em) {
  .wrapper {
    padding: 5% 10%;
  }
}

.hamburger-mobile-icon {
  z-index: 30;
}
@media screen and (min-width: 40em) {
  .hamburger-mobile-icon {
    display: none;
  }
}
.hamburger-mobile-icon:focus {
  outline: dotted 3px #606c38;
  outline-offset: 1rem;
}
.hamburger-mobile-icon span {
  position: relative;
}
.hamburger-mobile-icon span, .hamburger-mobile-icon span::before, .hamburger-mobile-icon span::after {
  width: 1.2rem;
  height: 2px;
  background-color: black;
  display: block;
  transition: all 0.2s ease;
}
.hamburger-mobile-icon span::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
}
.hamburger-mobile-icon span::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
}
.hamburger-mobile-icon.menu-close span::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #fff;
}
.hamburger-mobile-icon.menu-close span {
  background-color: transparent;
}
.hamburger-mobile-icon.menu-close span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #fff;
}

.btn {
  background-color: #52b788;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3.5rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.btn:hover {
  opacity: 0.8;
  transform: translateY(-0.1rem);
}

.main__portfolio {
  padding: 2rem 5%;
  grid-column: 1/-1;
}
@media screen and (min-width: 40em) {
  .main__portfolio {
    padding: 4rem 10%;
  }
}
.main__portfolio--container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (min-width: 40em) {
  .main__portfolio--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
.main__portfolio--title {
  margin-bottom: 2rem;
}
@media screen and (min-width: 40em) {
  .main__portfolio--title {
    margin-bottom: 4rem;
  }
}
.main__portfolio--item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__portfolio img {
  object-fit: scale-down;
}
.main__portfolio span {
  margin-top: 1rem;
  display: inline-block;
  font-weight: 500;
}

.footer {
  padding-top: 2rem;
  background-image: url("../../img/World Map Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__inner {
  padding: 10%;
  max-width: 20rem;
  background-color: #fff;
  border-radius: 3.5px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 40em) {
  .footer__inner {
    max-width: 25rem;
    padding: 5% 10%;
  }
}
@media screen and (min-width: 62.5em) {
  .footer__inner {
    padding: 5% 15%;
    max-width: 40rem;
  }
}
.footer__title {
  margin-bottom: 1.5rem;
}
.footer__item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer__item--img-linkedin {
  width: 1rem;
  filter: grayscale(1);
}
.footer__item--img-email {
  color: gray;
}
.footer__copyrights {
  margin-top: 2rem;
  text-align: center;
  background-color: #023e8a;
  color: #fff;
  font-size: 0.8rem;
}

.portfolio-copyright {
  text-align: center;
  color: white;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f1faee;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 40em) {
  .header__nav {
    flex-wrap: nowrap;
    padding: 3% 5%;
  }
}
@media screen and (min-width: 62.5em) {
  .header__nav {
    padding: 3% 10%;
  }
}
@media screen and (min-width: 40em) {
  .header__nav--menu-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    justify-items: end;
  }
}
@media screen and (min-width: 62.5em) {
  .header__nav--menu-container {
    column-gap: 2rem;
    grid-column-gap: 2rem;
  }
}
.header__nav--logo {
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
}
.header__nav--language-icon:hover, .header__nav--language-icon:focus {
  opacity: 0.7;
}
.header__nav--language-img {
  font-size: 1.1rem;
  color: gray;
}
@media screen and (min-width: 40em) {
  .header__nav--language-img {
    font-size: 1.5rem;
  }
}
.header__nav--language-modal {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: #006d77;
  color: #fff;
  padding: 15%;
  border-radius: 3px;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (min-width: 40em) {
  .header__nav--language-modal {
    top: 3rem;
    padding: 40%;
  }
}
.header__nav--language-modal li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.header__nav--language-modal a:hover {
  text-decoration: underline solid 3px #fcbf49;
}
.header__nav--language-modal.language-show {
  display: block;
}
.header__nav--menus {
  background-color: transparent;
  display: none;
  width: 100%;
  text-align: center;
  padding: 10% 10% 5% 10%;
  position: absolute;
  top: 5rem;
  left: 0;
  color: #fff;
  z-index: 25;
}
@media screen and (min-width: 40em) {
  .header__nav--menus {
    position: static;
    color: inherit;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0;
  }
}
@media screen and (min-width: 62.5em) {
  .header__nav--menus {
    font-size: 1.2rem;
    gap: 2rem;
  }
}
.header__nav--menus li {
  margin-bottom: 1rem;
}
@media screen and (min-width: 40em) {
  .header__nav--menus li {
    margin: 0;
  }
}
.header__nav--menus li:last-child {
  margin-bottom: 0;
}
.header__nav--menus.nav-show {
  display: block;
}
.header__icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
@media screen and (min-width: 40em) {
  .header__icon-container {
    grid-row: 1/2;
    grid-column: 2/-1;
  }
}

.nav-overlay {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}
.nav-overlay::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #006d77d3;
  z-index: 20;
  width: 500vmax;
  height: 500vmax;
  top: -250vmax;
  left: -250vmax;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}
.nav-overlay.overlay-open::after {
  transform: scale(1);
}

.main__about {
  padding: 15% 5%;
  background-image: url("../../img/Animated Shape Background.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: grid;
  place-content: center;
}
@media screen and (min-width: 62.5em) {
  .main__about {
    padding: 5% 10%;
  }
}
.main__about--inner {
  background-color: white;
  display: grid;
  align-items: center;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
  max-width: 62.5rem;
  padding: 7%;
}
@media screen and (min-width: 62.5em) {
  .main__about--inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    row-gap: 1.5rem;
    padding: 5%;
  }
}
@media screen and (min-width: 62.5em) {
  .main__about--title {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
.main__about--img {
  width: 80%;
  margin: 1rem auto;
}
@media screen and (min-width: 62.5em) {
  .main__about--img {
    grid-column: 1/2;
    grid-row: 2/-1;
    width: 95%;
  }
}
.main__about--description {
  line-height: 1.6;
}
@media screen and (min-width: 62.5em) {
  .main__about--description {
    padding: 10%;
    grid-column: 2/-1;
    grid-row: 2/-1;
    line-height: 2;
  }
}
.main__skills {
  padding-top: 2rem;
}
@media screen and (min-width: 40em) {
  .main__skills {
    margin-top: 4rem;
  }
}
.main__skills--container {
  padding-top: 2rem;
  display: grid;
  place-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}
@media screen and (min-width: 62.5em) {
  .main__skills--container {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
.main__skills--container img {
  width: 4rem;
}
@media screen and (min-width: 62.5em) {
  .main__skills--container img {
    width: 6rem;
  }
}
.main__details {
  font-family: "Jura", sans-serif;
  padding: 10% 5%;
}
@media screen and (min-width: 40em) {
  .main__details {
    padding: 5% 5%;
  }
}
.main__details--title {
  font-weight: 700;
  font-size: 1.2rem;
}
.main__details--description {
  text-align: left;
  padding: 10% 0;
}
@media screen and (min-width: 40em) {
  .main__details--description {
    padding: 5% 15%;
  }
}
.main__details--btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.main__image-gallery {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 40em) {
  .main__image-gallery {
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}

.fem-link {
  color: mediumaquamarine;
  cursor: pointer;
}
.fem-link:hover, .fem-link:focus {
  text-decoration: underline solid 1px mediumaquamarine;
}

@media screen and (min-width: 40em) {
  .crowd-img-1 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
.crowd-img-2 {
  width: 100%;
}
@media screen and (min-width: 40em) {
  .crowd-img-2 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}
@media screen and (min-width: 40em) {
  .crowd-img-3 {
    grid-row: 2/3;
    grid-column: 2/-1;
    align-self: center;
  }
}
@media screen and (min-width: 40em) {
  .crowd-img-4 {
    grid-row: 3/-1;
    grid-column: 2/-1;
  }
}

@media screen and (min-width: 40em) {
  .blogr-img-1 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 40em) {
  .blogr-img-2 {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 40em) {
  .base-img-1 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 40em) {
  .base-img-2 {
    grid-row: 2/-1;
    grid-column: 1/2;
  }
}
@media screen and (min-width: 40em) {
  .base-img-3 {
    align-self: center;
  }
}
@media screen and (min-width: 40em) {
  .base-img-4 {
    grid-row: 3/4;
    grid-column: 2/-1;
    align-self: center;
  }
}

/*# sourceMappingURL=main.css.map */
