@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: dotted 3px #606c38;
  outline-offset: 10px;
}

body {
  font-family: variables.$font-secondary;
  font-weight: 400;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  padding: 5%;

  @include mixins.mq(medium) {
    padding: 5% 10%;
  }
}
